<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>syncthing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/js/client.js"></script>
</head>

<body class="loading">
    <nav class="shadow" aria-label="Main Navigation">
        <ul>
            <li><a href="/">Syncthing</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/watch">Watch</a></li>
        </ul>
    </nav>

    {{{ body }}}

</body>

</html>