<div class="box shadow">
    <h1>Syncthing</h1>
    <form action="/api/create" method="post">
        <label for="url">
            Video url<input type="url" name="url">
        </label>

        <label for="title">
            Video title<input type="title" name="title">
        </label>

        <label for="password">
            Password<input type="password" name="password">
        </label>

        <label for="controlKey">
            Control Key<input type="password" name="controlKey">
        </label>

        <div class="buttonContainer">
            <button type="button" onclick="testPost()">Test packet</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>