<div class="box shadow">
    <h1>Hello</h1>
    <form action="/api/create" method="post">
        <ul>
            <li>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </li>
            <li>
                <label for="url">Video url</label>
                <input type="url" name="url" id="url">
            </li>
            <li>
                <label for="title">Video title</label>
                <input type="title" name="title" id="title">
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </li>
            <li>
                <label for="controlKey">Control Key</label>
                <input type="password" name="controlKey" id="controlKey">
            </li>
            <li><button type="submit">Submit</button></li>
        </ul>
        <button type="button" id="test">Test packet</button>
    </form>
</div>