<div class="box shadow">
	{{#if hasVideo}}
		<h1>{{{sessionIdTitle}}}</h1>
		<video src="{{{sessionIdUrl}}}" controls title="{{{sessionIdTitle}}}" crossorigin="anonymous" preload></video>
	{{else}}
		<div class="form">
			<label for="videoId">
				Video ID<input type="text" name="videoId" id="videoId">
			</label>
			<div class="buttonContainer">
				<button type="submit" id="videoIdSubmit">Submit</button>
			</div>
			<script>
				id('videoId').addEventListener('keyup', ifKey('Enter', videoRedirect))
				id('videoIdSubmit').addEventListener('keyup', ifKey([' ', 'Enter'], videoRedirect))
				id('videoIdSubmit').addEventListener('click', videoRedirect)
			</script>
		</div>
	{{/if}}
</div>