:root {
    --normal-bg: #f9f9f9;
    --second-bg: #e6e6e6;
    --hover-bg: rgba(0, 0, 0, 0.082);
    --shadow-c: rgba(0, 0, 0, 0.144);
    --color: #222;
    --link-c: #0000ee;
    --link-hover-c: #3c2dc0;
    --link-visited-c: #551a8b;
    --link-active-c: #ee0000;
}

/* Uncomment for testing light theme */
/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {
    :root {
        --normal-bg: #181818;
        --second-bg: #252525;
        --hover-bg: rgba(255, 255, 255, 0.041);
        --shadow-c: rgba(0, 0, 0, 0.329);
        --color: #ddd;
        --link-c: #8d9fc8;
        --link-hover-c: #7d6cda;
        --link-visited-c: #d459d4;
        --link-active-c: #e05964;
    }
}

body {
    margin: 0;
    font: 16px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--normal-bg);
    color: var(--color);
}

* {
    box-sizing: border-box;
}

a:not(:hover):not(:active) { text-decoration: none; }
a { color: var(--link-c); }
a:hover { color: var(--link-hover-c) }
a:visited { color: var(--link-visited-c) }
a:active { color: var(--link-active-c) }

nav {
    width: 100%;
    display: flex;
    align-items: stretch;
    background: var(--second-bg);
    z-index: 7;
    margin-bottom: 1em;
    font-weight: bold;
}

nav>.item {
    padding: 1em;
    border-right: thin solid var(--hover-bg);
    background-clip: padding-box;
    text-decoration: none;
}
nav>.item:hover {
    background-color: var(--hover-bg);
}

.box {
    max-width: 600px;
    border-radius: 5px;
    padding: 1em;
    background: var(--second-bg);
}

.shadow {
    box-shadow: 0 0.5px 2px 2px var(--shadow-c);
}